*{
	box-sizing: border-box;
}
	
body{
	margin: 0;
}

.container{
	position: relative;
	text-align: center;
}

.mySlides{
	display: none;
	margin: 0;
	height: 30vw;
}

.zdjecie{
	width: 80%;
	height: 30vw;
}

.cursor{
	cursor: pointer;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 20px;
	margin-top: -70px;
	color: white;
	font-weight: bold;
	font-size: 2vw;
	border-radius: 0 5px 5px 0;
	user-select: none;
}

.next{
	right: 10%;
	border-radius: 3px 0 0 3px;
}

.prev{
	left: 10%;
}
.prev:hover, .next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext{
	color: #f2f2f2;
	font-size: 1.5vw;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	left: 10%;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

#caption{
	font-size: 1rem;
}

@media(max-width: 480px){
	#caption{
	font-size: 0.5rem;
  }
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.column{
	float: left;
	width: 16.66%;
}

.demo{
	opacity: 0.6;
	height: 10vw;
}

.active, .demo:hover{
	opacity: 1;
}